.button__main {
  display: inline-block;
  padding: 15px 29px;
  border-radius: 2px;
  background: #010101;

  color: #fff;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  position: relative;
}

.button__main::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  /* background-image: url("../img/first-screen/akar-icons_arrow-up-right.png"); */
}

.button__buy {
  display: block;
  padding: 15px 108px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 500;
	border-radius: 10px;
}
