.language {
	background-color: #fff;
}
.language__row {
	display: flex;
	align-items: center;
}
.language__code {
	margin: 0px 170px 0px 0px;
	position: relative;
}
.language__code::after {
	content: '';
	background: url('../img/language-pages/icon-park_caution.png') 0 0 no-repeat;
	display: inline-block;
	width: 195px;
	height: 195px;
	position: absolute;
	top: 25%;
	right: 0%;
}
.language__code-example {
}
.language__column {
}
.language__title {
	margin: 0px 0px 170px 0px;
}
.second__title {
}
.button__main {
}