.package {
  background-color: #fff;
  padding: 175px 0px 169px 0px;
}
.package__title {
  text-align: center;
  margin: 0px 0px 35px 0px;
}
.package__text {
  margin: 0px 0px 80px 0px;
  text-align: center;
  color: #000;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 250;
}
.package__cards {
  display: flex;
	justify-content: center;
	gap: 38px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  margin: 0px -19px;
}
.package__card:nth-child(even) {
	color: white;
	background-color: black;
}
.package__card {
  padding: 68px 19px 0;
	text-align: center;
	/* flex: 0 0 33.333%; */
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
	border-radius: 10px;
}
.package__name {
  margin: 0px 0px 30px 0px;
  text-transform: uppercase;
}
.package__price {
  margin: 0px 0px 30px 0px;
}
.package__item {
  width: 266px;
	flex: 1 1 auto;
}
.package__button {
  margin: 20px 20px;
}
.package__button:nth-child(2) {
	background-color: yellow;
}