@import url(reset.css);
@import url(titles.css);
@import url(buttons.css);
@import url(header.css);
@import url(companies.css);
@import url(features.css);
@import url(language.css);
@import url(get-up.css);
@import url(package.css);

body {
  font-family: Montserrat, sans-serif;
}
.wrapper {
  background-color: #481186;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 3px solid black; */
  /* overflow: hidden; */
}
