/* Default setting */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  line-height: 1;
  font-size: 14px;
  width: 100vw;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  background-color: #9b9b9b;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Variables */
@font-face {
  font-family: "Aeonik";
  src: url("/school/fonts/AeonikTRIAL-Light.woff") format("woff");
  font-weight: 300;
  font-size: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.woff") format("woff");
  font-weight: 400;
  font-size: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 700;
}
.button {
  color: #fff;
}
.button__main {
  display: inline-block;
  font-family: Aeonik;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  padding: 15px 29px;
  border-radius: 2px;
  background: #010101;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}
.button__main:hover {
  background-color: #fff;
  color: black;
  border: 1px solid #000;
}
.button__main:hover path {
  stroke: black;
}
.main__title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.second__title {
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Blocks */
.nav {
  line-height: normal;
  font-size: 22px;
  font-weight: 250;
  line-height: 1;
  font-family: Aeonik;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item:not(:last-child) {
  margin: 0 52px 0 0;
}
.nav__item:not(:last-child):not(:first-child)::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #000;
  display: inline-block;
  position: relative;
  top: 0%;
  left: 125%;
  margin: 5px 0px;
}
.nav__link-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0px 30px 0px 0px;
}
.nav__link {
  color: #000;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}
.nav__link:hover::before {
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  font-family: "Source Code Pro";
  font-style: normal;
  line-height: normal;
  background-color: #f4f4f4;
  height: 905px;
  position: relative;
}
.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0 0 50px;
}
.header__row {
  display: flex;
  height: 100%;
  padding: 60px 0px 0px 0px;
  position: relative;
}
.header__about {
  width: 50%;
  margin: 0 80px 0 0;
}
.header__top {
  margin: 0px 0px 82px 0px;
}
.header__nav {
  line-height: normal;
  font-size: 22px;
  font-weight: 250;
}
.header__article {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0 30px 141px 0;
  position: relative;
}
.header__article::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/first-screen/bad-lines.png");
  width: 76px;
  height: 74px;
  bottom: -64%;
  left: 0;
}
.header__article-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  color: black;
  transform: translate(8px, -18px);
}
.header__article-btn::after {
  content: "</>";
  padding: 0px -20px;
  margin: 0px -20px;
  display: inline-block;
  color: white;
}
.header__describe {
  font-size: 16px;
  font-weight: 400;
  max-width: 375px;
  line-height: 25px;
  margin: 0 0 107px 0;
}
.header__image {
  position: absolute;
  background-color: #000;
  z-index: 1;
  width: 50%;
  width: 706px;
  top: 0;
  right: 0;
  height: 100%;
  background: url(../img/first-screen/bg-header.png) no-repeat 0 0;
}
.header__man {
  position: absolute;
  bottom: 0;
  right: 49px;
}
.header__code {
  position: absolute;
  top: 415px;
  right: 348px;
  z-index: -1;
  box-shadow: 0px 4px 57px 0px rgba(0, 0, 0, 0.15);
}
.header__icon {
  position: absolute;
  right: 85px;
  bottom: -98px;
}
.header__skill {
  display: flex;
  align-items: center;
  gap: 17px;
  position: absolute;
  top: 837px;
  left: 0%;
  padding: 18.5px 172px 11.5px 64px;
  background: rgba(1, 1, 1, 0.5);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.header__skill-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 1px;
  stroke: #ff4f4f;
  background-color: #ff4f4f;
  border-radius: 50%;
}
.header__skill-name {
  color: #fff;
  font-family: Aeonik;
  font-size: 20px;
  font-weight: 250;
}

.companies {
  background: #fff;
  padding: 78px 130px;
}
.companies__container {
  display: flex;
  align-items: center;
}
.companies__item:not(:last-child) {
  margin: 0px 154px 0px 0px;
}
.features {
  background-color: #f4f4f4;
  padding: 119px 0px 56px 0;
}
.features__container {
  width: 1200px;
  display: flex;
  padding: 0px 0px 0px 50px;
}
.features__column {
  margin: 0px 92px 0px 0px;
}
.features__title {
  font-family: Aeonik;
  font-size: 48px;
  font-weight: 700;
  margin: 0px 0px 52px 0px;
  min-width: 450px;
}
.features__description {
  font-family: Aeonik;
  font-size: 22px;
  font-weight: 300;
  width: 288px;
  line-height: 1.4;
  margin: 0px 0px 82px 0px;
}
.features__buttons {
  display: flex;
  gap: 14px;
}
.features__button {
  height: 11px;
  width: 51px;
  background: #cfcfcf;
}
.features__button:first-child {
  width: 82px;
  background-color: #ddf247;
}
.features__items {
  display: grid;
  grid-template-columns: repeat(3, 317px);
  grid-template-rows: 343px;
  gap: 39px;
}
.features__item {
  background-color: #fff;
  border-radius: 15px;
}
.features__item:nth-child(even) {
  background-color: #ddf247;
}

.item {
  background-color: #fff;
  padding: 32px 84px 35px 30px;
  border-radius: 15px;
}
.item__logo {
  display: inline-block;
  border-radius: 10px;
  margin: 0px 0px 70px 0px;
  background-color: #fff;
  padding: 21px 21px 22px 22px;
}
.item__title {
  color: #000;
  font-family: Aeonik;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 17px 0px;
}
.item__describe {
  color: #000;
  font-family: Aeonik;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.1px;
  max-width: 160px;
}