/* Default setting */
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  line-height: 1;
  font-size: 14px;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.woff") format("woff");
  font-weight: 250;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 700;
}
.wrapper {
  background-color: #9b9b9b;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 0 0 50px;
}
@media (min-width: 1460px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 788px) {
  .container {
    padding: 0px 0px 0px 20px;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 0px 0px 0px 0px;
  }
}

/* Variables */
.button {
  color: #fff;
}
.button__main {
  display: inline-block;
  font-family: Aeonik;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  padding: 15px 29px;
  border-radius: 2px;
  background: #010101;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
}
.button__main:hover {
  background-color: #fff;
  color: black;
  border: 1px solid #000;
}
.button__main:hover path {
  stroke: black;
}
@media (max-width: 400px) {
  .button__main {
    font-size: 17px;
    padding: 5px 12px;
  }
}
.main__title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.second__title {
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Blocks */
.header {
  display: flex;
  flex-wrap: wrap;
  font-family: "Source Code Pro";
  font-style: normal;
  line-height: normal;
  background-color: #f4f4f4;
  height: 905px;
  position: relative;
}
@media (max-width: 400px) {
  .header {
    height: 100%;
  }
}
.header__row {
  display: flex;
  height: 100%;
  padding: 60px 0px 0px 0px;
  position: relative;
}
@media (max-width: 1044px) {
  .header__row {
    padding: 40px 0px 0px 0px;
  }
}
@media (max-width: 400px) {
  .header__row {
    border: 5px solid #000;
    padding: 23px 0px 0px 11px;
    margin: 0px 0px 0px 0px;
  }
}
.header__about {
  width: 50%;
  margin: 0 80px 0 0;
}
@media (min-width: 1460px) {
  .header__about {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .header__about {
    margin: 0px 0px 0px 0px;
  }
}
.header__top {
  margin: 0px 0px 85px 0px;
}
@media (max-width: 1044px) {
  .header__top {
    margin: 0px 0px 60px 0px;
  }
}
@media (max-width: 400px) {
  .header__top {
    margin: 0px 0px 54px 0px;
  }
}
.header__nav {
  line-height: normal;
  font-size: 22px;
  font-weight: 250;
}
.header__article {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0 30px 145px 0;
  position: relative;
}
.header__article::after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../img/first-screen/bad-lines.png");
  width: 76px;
  height: 74px;
  bottom: -60%;
  left: 0;
}
@media (max-width: 1044px) {
  .header__article::after {
    bottom: -80%;
  }
}
@media (max-width: 788px) {
  .header__article::after {
    bottom: -140%;
  }
}
@media (max-width: 400px) {
  .header__article::after {
    bottom: -83%;
  }
}
@media (max-width: 1044px) {
  .header__article {
    font-size: 40px;
    margin: 0 50px 145px 0;
  }
}
@media (max-width: 788px) {
  .header__article {
    font-size: 36px;
    margin: 0px 0px 210px 0px;
  }
}
@media (max-width: 400px) {
  .header__article {
    font-family: Aeonik;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.25px;
    font-size: 34px;
    margin: 0px 0px 96px 0px;
    width: 255px;
  }
}
.header__article-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  color: black;
}
.header__article-btn::after {
  content: "</>";
  padding: 0px -20px;
  margin: 0px -20px;
  display: inline-block;
  color: white;
}
@media (max-width: 400px) {
  .header__article-btn {
    width: 24px;
    height: 24px;
  }
}
.header__describe {
  font-size: 16px;
  font-weight: 400;
  max-width: 375px;
  margin: 0 0 117px 0;
}
@media (max-width: 1044px) {
  .header__describe {
    margin: 0px 0px 250px 0px;
    max-width: 340px;
    font-size: 20px;
  }
}
@media (max-width: 788px) {
  .header__describe {
    margin: 0px 0px 250px 0px;
  }
}
@media (max-width: 400px) {
  .header__describe {
    font-size: 12px;
    letter-spacing: 0.25px;
    margin: 0px 0px 26px 0px;
    width: 280px;
  }
}
.header__image {
  position: absolute;
  background-color: #000;
  z-index: 1;
  width: 50%;
  width: 706px;
  top: 0;
  right: 0;
  height: 905px;
}
@media (max-width: 1440px) {
  .header__image {
    width: 50%;
  }
}
@media (max-width: 1044px) {
  .header__image {
    width: 50%;
    left: 50%;
  }
}
@media (max-width: 788px) {
  .header__image {
    width: 55%;
    left: 50%;
  }
}
@media (max-width: 400px) {
  .header__image {
    display: none;
  }
}
.header__man {
  position: absolute;
  top: 16%;
  left: 21%;
}
@media (max-width: 1044px) {
  .header__man {
    width: 100%;
    left: 10%;
  }
}
@media (max-width: 788px) {
  .header__man {
    top: 16%;
    left: -1%;
    width: 120%;
    height: 80%;
  }
}
.header__code {
  position: absolute;
  top: 40%;
  left: -31%;
  z-index: -1;
}
@media (max-width: 1044px) {
  .header__code {
    width: 100%;
  }
}
@media (max-width: 788px) {
  .header__code {
    top: 60%;
    left: -45%;
    height: 35%;
  }
}
.header__line {
  position: absolute;
  top: 21%;
  left: 11%;
  z-index: -1;
}
@media (max-width: 1044px) {
  .header__line {
    width: 100%;
    left: 0%;
  }
}
@media (max-width: 788px) {
  .header__line {
    top: 20%;
    height: 500px;
    width: 100%;
  }
}
.header__icon {
  position: absolute;
  top: 81%;
  left: 50%;
}
@media (max-width: 1044px) {
  .header__icon {
    display: none;
  }
}
.header__skill {
  display: flex;
  align-items: center;
  gap: 17px;
  position: absolute;
  top: 92%;
  left: 0%;
  padding: 18.5px 123px 18.5px 45px;
  background: rgba(1, 1, 1, 0.5);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
.header__skill-btn {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 1px;
  stroke: #ff4f4f;
  background-color: #ff4f4f;
  border-radius: 50%;
}
.header__skill-name {
  color: #fff;
  font-size: 20px;
  font-weight: 250;
}

.nav {
  font-size: 22px;
  font-weight: 250;
  line-height: 1;
  font-family: Aeonik;
  position: relative;
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 788px) {
  .nav__list {
    font-size: 18px;
  }
}
.nav__item:not(:last-child) {
  margin: 0 50px 0 0;
}
@media (max-width: 788px) {
  .nav__item:not(:last-child) {
    margin: 0px 40px 0px 0px;
  }
}
@media (max-width: 1044px) {
  .nav__item:not(:last-child) {
    margin: 0px 25px 0px 0px;
  }
}
@media (max-width: 400px) {
  .nav__item:not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
}
@media (max-width: 400px) {
  .nav__item:not(:first-child) {
    display: none;
  }
}
.nav__item:not(:last-child):not(:first-child)::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #000;
  display: inline-block;
  position: relative;
  top: 0%;
  left: 125%;
  margin: 5px 0px;
}
@media (max-width: 1044px) {
  .nav__item:not(:last-child):not(:first-child)::before {
    display: none;
  }
}
.nav__link-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0px 30px 0px 0px;
}
@media (max-width: 1044px) {
  .nav__link-btn {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 400px) {
  .nav__link-btn {
    width: 24px;
    height: 24px;
  }
}
.nav__logo {
  font-family: Aeonik;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.15px;
  display: none;
}
@media (max-width: 400px) {
  .nav__logo {
    display: block;
  }
}
.nav__link {
  color: #000;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.nav__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}
.nav__link:hover::before {
  width: 100%;
}

.menu-burger {
  display: none;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  height: 10px;
  justify-content: space-between;
  cursor: pointer;
}
.menu-burger::after, .menu-burger::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 2px;
  background-color: #000;
  color: black;
  transition: all 0.3s ease 0s;
}
@media (max-width: 400px) {
  .menu-burger {
    visibility: visible;
    display: inline-flex;
    position: absolute;
    top: 40%;
    right: -65%;
  }
}