.button {
  color: #fff;
  &__main {
    display: inline-block;
    font-family: Aeonik;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    padding: 15px 29px;
    border-radius: 2px;
    background: #010101;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fff;
      color: black;
      border: 1px solid #000;

      path {
        stroke: black;
      }
    }

    @media (max-width: 400px) {
      font-size: 17px;
      padding: 5px 12px;
    }
  }

  &__main-arrow {
  }
}
