.button {

	&__main {
		display: inline-block;
		padding: 15px 29px;
		border-radius: 2px;
		background: #010101;
		color: #fff;
		font-family: Montserrat;
		font-size: 22px;
		font-style: normal;
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;
		transition: all 0.3s ease;

		&:hover {
			background-color: #fff;
			color: black;
			path {
				stroke: black;
			}
		}
	}
	
	&__main-arrow {
	}
}

