@font-face {
  font-family: "Aeonik";
  src: url("/school/fonts/AeonikTRIAL-Light.woff") format("woff");
  font-weight: 300;
	font-size: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.woff") format("woff");
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 700;
}
