.companies {
  background: #fff;
  padding: 70px 0;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
		flex-wrap: wrap;
		margin: 0 80px;
  }

  &__item {
  }

  &__link {
  }

  &__image {
  }
}
