.features {
  background-color: #f4f4f4;
  padding: 119px 0px 56px 0;

  &__container {
    width: 1400px;
		margin: 0 auto;
    display: flex;
    padding: 0px 0px 0px 29px;
  }

  &__column {
    margin: 0px 92px 0px 0px;
  }

  &__title {
    font-family: Aeonik;
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 41px 0px;
    min-width: 450px;
  }

  &__description {
    font-family: Aeonik;
    font-size: 22px;
    font-weight: 300;
    width: 288px;
    line-height: 1.4;
    margin: 0px 0px 82px 0px;
  }

  &__buttons {
    display: flex;
    gap: 14px;
  }

  &__button {
    height: 11px;
    width: 51px;
    background: #cfcfcf;

    &:first-child {
      width: 82px;
      background-color: #ddf247;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 317px);
    grid-template-rows: 343px;
    gap: 39px;
  }

  &__item {
    background-color: #fff;
    border-radius: 15px;
		transition: 0.3s all;

    &:hover {
      background-color: #ddf247;
      scale: 1.2;
    }
  }
}

.item {
  background-color: #fff;
  padding: 32px 84px 35px 30px;
  border-radius: 15px;

  &__logo {
    display: inline-block;
    border-radius: 10px;
    margin: 0px 0px 70px 0px;
    background-color: #fff;
    padding: 21px 21px 22px 22px;
  }

  &__img {
  }
  &__title {
    color: #000;
    font-family: Aeonik;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    margin: 0px 0px 17px 0px;
  }

  &__describe {
    color: #000;
    font-family: Aeonik;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.1px;
    max-width: 160px;
  }
}
