.features {
  background-color: #f4f4f4;
  padding: 140px 0px 56px 50px;

  &__container {
    // padding: 0px 0px 0px 10px;
  }

  &__row {
    display: flex;
    align-items: start;
    margin: 0px -20px;
    // flex-wrap: wrap;
  }

  &__column {
    // flex: 0 1 33.333%;
    padding: 0px 20px;
    margin: 0 72px 0 0;
  }

  &__title {
    font-family: Aeonik;
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 52px 0px;
    min-width: 450px;
  }

  &__description {
    font-family: Aeonik;
    font-size: 22px;
    font-weight: 300;
    width: 288px;
		line-height: 1.2;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 39px;
  }

  &__item {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;

    &:nth-child(even) {
      background-color: yellow;
    }
  }
}

// .second {
//   &__title {
//   }
// }
.item {
  background-color: #fff;
  border: 1px solid #000;
  padding: 60px 100px 40px 30px;
  border-radius: 15px;

  &__logo {
    margin: 0px 0px 80px 0px;
    display: inline-block;
  }

  &__img {
  }
  &__title {
    color: #000;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.25px;
    margin: 0px 0px 15px 0px;
  }

  &__describe {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1px;
    width: 180px;
  }
}
