* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: inherit;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html,
body {
	line-height: 1;
	font-size: 14px;
	width: 100vw;
}

button {
	cursor: pointer;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}