.main__title {
  font-size: 60px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.second__title {
  color: #000;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
