@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Regular.woff") format("woff");
  font-weight: 250;
  font-size: normal;
}
@font-face {
  font-family: "Aeonik";
  src: url("../fonts/AeonikTRIAL-Bold.woff") format("woff");
  font-weight: 500;
}

body {
}

.wrapper {
  background-color: #9b9b9b;
  // overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 0 0 50px;
}
