body {
	font-family: Montserrat, sans-serif;
}

.wrapper {
	background-color: #9b9b9b;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}